In [56]:
#Import Statements, some of these may be extraneous
import math
import warnings

import gspread
from oauth2client.service_account import ServiceAccountCredentials

import pandas as pd
import gspread_dataframe as gd

import gzip
import json

#SQL
from os import environ
import mysql.connector
import sqlalchemy
from sqlalchemy import create_engine

from IPython.display import display
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import linear_model
import statsmodels.formula.api as smf
import scipy
from sklearn.preprocessing import MinMaxScaler
# import the class
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
from math import sqrt

from sklearn.neighbors import KNeighborsRegressor
from sklearn import neighbors
from sklearn import metrics
from sklearn.model_selection import GridSearchCV

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
#from skgarden import RandomForestQuantileRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from itertools import chain
from datetime import datetime, timedelta, date
import re
#pd.set_option('max_columns', 500)
warnings.filterwarnings("ignore", category=FutureWarning)
np.set_printoptions(formatter={'float': lambda x: "{0:0.3f}".format(x)})

In [57]:
# bring in play by play results, Oleksii has these on the backend and can also be found on NFLScrapR Github
# Using https://github.com/guga31bb/nflfastR-data/blob/master/data/play_by_play_2021.csv.gz for 2021
# keeping it to the last decade

results_2014 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2014.csv')
results_2015 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2015.csv')
results_2016 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2016.csv')
results_2017 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2017.csv')
results_2018 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2018.csv')
results_2019 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2019.csv')
results_2020 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2020.csv')
results_2021 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2021.csv')
results_2022 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2022.csv')
ids = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/NFLIDs.csv')


#results_2014,results_2015,results_2016, results_2017, results_2018, 
result = [results_2014,results_2015,results_2016, results_2017, results_2018,results_2019, results_2020,results_2021,results_2022]

<ipython-input-57-5a7f41a54f49>:5: DtypeWarning: Columns (45,179,180,182,183,189,190,193,194,197,198,203,204,218,219,220,248,249,253,254,255,260,262,263,283,284,294,295,301) have mixed types. Specify dtype option on import or set low_memory=False.
  results_2014 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2014.csv')
<ipython-input-57-5a7f41a54f49>:6: DtypeWarning: Columns (45,179,180,182,183,189,190,193,194,197,198,203,204,205,206,218,219,220,233,234,235,236,237,238,248,249,253,254,255,260,262,263,283,284,301) have mixed types. Specify dtype option on import or set low_memory=False.
  results_2015 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2015.csv')
<ipython-input-57-5a7f41a54f49>:7: DtypeWarning: Columns (179,180,182,183,189,190,193,194,197,198,203,204,205,206,209,210,218,219,220,248,249,253,254,255,260,262,263,283,284,301) have mixed types. Specify dtype option on import or set low_memory=False.
  results_2016 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2016.csv')
<ipython-input-57-5a7f41a54f49>:8: DtypeWarning: Columns (179,180,182,183,189,190,193,194,197,198,203,204,205,206,213,214,218,219,220,253,254,255,260,262,263,266,267,268,269,283,284,301) have mixed types. Specify dtype option on import or set low_memory=False.
  results_2017 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2017.csv')
<ipython-input-57-5a7f41a54f49>:9: DtypeWarning: Columns (179,180,182,183,193,194,197,198,203,204,205,206,218,219,220,248,249,253,254,255,260,262,263,283,284,301) have mixed types. Specify dtype option on import or set low_memory=False.
  results_2018 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2018.csv')
<ipython-input-57-5a7f41a54f49>:10: DtypeWarning: Columns (179,180,182,183,189,190,193,194,197,198,203,204,205,206,209,210,218,219,220,233,234,235,236,237,238,253,254,255,260,262,263,283,284,301) have mixed types. Specify dtype option on import or set low_memory=False.
  results_2019 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2019.csv')
<ipython-input-57-5a7f41a54f49>:11: DtypeWarning: Columns (179,180,182,183,189,190,193,194,197,198,203,204,205,206,213,214,218,219,220,222,224,226,248,249,253,254,255,260,262,263,266,267,268,269,283,284,301) have mixed types. Specify dtype option on import or set low_memory=False.
  results_2020 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2020.csv')
<ipython-input-57-5a7f41a54f49>:12: DtypeWarning: Columns (179,180,182,183,189,190,193,194,197,198,203,204,205,206,218,219,220,233,234,235,236,237,238,248,249,253,254,255,260,262,263,283,284,301) have mixed types. Specify dtype option on import or set low_memory=False.
  results_2021 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2021.csv')
<ipython-input-57-5a7f41a54f49>:13: DtypeWarning: Columns (179,180,182,183,203,204,218,219,220,253,254,255,260,262,263,283,284) have mixed types. Specify dtype option on import or set low_memory=False.
  results_2022 = pd.read_csv('C:/Users/andre/OneDrive/ODDLs/play_by_play_2022.csv')

In [58]:
results = pd.concat(result)
#master.reset_index()
results.head()

#results.info(verbose=True)
results = results[results['play_type']=='pass']

In [59]:
results['target']=np.where((results['play_type'] == 'pass'), 1,0)
results['game_date']=pd.to_datetime(results['game_date'])
results['temp_season']=results['game_date'].dt.year
results['month']=results['game_date'].dt.month
results['season']=np.where(results['month']>5, results['temp_season'], results['temp_season']-1)
results = results.replace(["LA"], 'LAR')
print(results)

       play_id          game_id  old_game_id home_team away_team season_type  \
4           93  2014_01_BUF_CHI   2014090702       CHI       BUF         REG
7          162  2014_01_BUF_CHI   2014090702       CHI       BUF         REG
8          186  2014_01_BUF_CHI   2014090702       CHI       BUF         REG
9          210  2014_01_BUF_CHI   2014090702       CHI       BUF         REG
14         302  2014_01_BUF_CHI   2014090702       CHI       BUF         REG
...        ...              ...          ...       ...       ...         ...
14177     3848  2022_05_TEN_WAS   2022100909       WAS       TEN         REG
14179     3884  2022_05_TEN_WAS   2022100909       WAS       TEN         REG
14182     3953  2022_05_TEN_WAS   2022100909       WAS       TEN         REG
14183     3995  2022_05_TEN_WAS   2022100909       WAS       TEN         REG
14184     4017  2022_05_TEN_WAS   2022100909       WAS       TEN         REG

       week posteam posteam_type defteam  ...  xyac_epa  xyac_mean_yardage  \
4         1     BUF         away     CHI  ...  0.509138           5.985427
7         1     CHI         home     BUF  ...  0.746650           4.273346
8         1     CHI         home     BUF  ...  0.715423           7.314223
9         1     CHI         home     BUF  ...       NaN                NaN
14        1     BUF         away     CHI  ...  0.744097           6.250999
...     ...     ...          ...     ...  ...       ...                ...
14177     5     WAS         home     TEN  ...  0.647688           6.323590
14179     5     WAS         home     TEN  ...  0.304286           3.031311
14182     5     WAS         home     TEN  ...       NaN                NaN
14183     5     WAS         home     TEN  ...       NaN                NaN
14184     5     WAS         home     TEN  ...  2.628507           0.768625

      xyac_median_yardage  xyac_success   xyac_fd     xpass    pass_oe  \
4                     2.0      1.000000  1.000000  0.975684   2.431589
7                     2.0      0.612298  0.379328  0.680274  31.972611
8                     5.0      1.000000  1.000000  0.481718  51.828235
9                     NaN           NaN       NaN  0.360162  63.983843
14                    5.0      0.595745  0.229095  0.418499  58.150133
...                   ...           ...       ...       ...        ...
14177                 5.0      0.778478  0.118871  0.979905   2.009523
14179                 1.0      0.996216  0.996216  0.981421   1.857930
14182                 NaN           NaN       NaN  0.904017   9.598291
14183                 NaN           NaN       NaN  0.934383   6.561726
14184                 1.0      0.779624  0.779624  0.918908   8.109212

       target  temp_season  month
4           1         2014      9
7           1         2014      9
8           1         2014      9
9           1         2014      9
14          1         2014      9
...       ...          ...    ...
14177       1         2022     10
14179       1         2022     10
14182       1         2022     10
14183       1         2022     10
14184       1         2022     10

[166961 rows x 375 columns]

In [60]:
skill = results[['game_date','week','season','posteam', 'defteam','id','passer_id', 'fantasy_id','receiver_player_id', 'passer', 'fantasy_player_name', 'air_yards', 'target']]
#skill['id']=passer id
ids=pd.DataFrame(ids)
ids.columns=['pid', 'PlayerID', 'Name', 'Position']
print(skill)

       game_date  week  season posteam defteam          id   passer_id  \
4     2014-09-07     1    2014     BUF     CHI  00-0030526  00-0030526
7     2014-09-07     1    2014     CHI     BUF  00-0024226  00-0024226
8     2014-09-07     1    2014     CHI     BUF  00-0024226  00-0024226
9     2014-09-07     1    2014     CHI     BUF  00-0024226  00-0024226
14    2014-09-07     1    2014     BUF     CHI  00-0030526  00-0030526
...          ...   ...     ...     ...     ...         ...         ...
14177 2022-10-09     5    2022     WAS     TEN  00-0032950  00-0032950
14179 2022-10-09     5    2022     WAS     TEN  00-0032950  00-0032950
14182 2022-10-09     5    2022     WAS     TEN  00-0032950  00-0032950
14183 2022-10-09     5    2022     WAS     TEN  00-0032950  00-0032950
14184 2022-10-09     5    2022     WAS     TEN  00-0032950  00-0032950

       fantasy_id receiver_player_id    passer fantasy_player_name  air_yards  \
4      00-0025516         00-0025516  E.Manuel          S.Chandler       11.0
7      00-0024334         00-0024334  J.Cutler          B.Marshall        4.0
8      00-0029137         00-0029137  J.Cutler           A.Jeffery       39.0
9      00-0026201         00-0026201  J.Cutler           M.Bennett       12.0
14     00-0030431         00-0030431  E.Manuel             R.Woods        1.0
...           ...                ...       ...                 ...        ...
14177  00-0032602         00-0032602   C.Wentz          J.McKissic        1.0
14179  00-0033282         00-0033282   C.Wentz            C.Samuel        6.0
14182         NaN                NaN   C.Wentz                 NaN        2.0
14183  00-0032602         00-0032602   C.Wentz          J.McKissic        2.0
14184  00-0032602         00-0032602   C.Wentz          J.McKissic        1.0

       target
4           1
7           1
8           1
9           1
14          1
...       ...
14177       1
14179       1
14182       1
14183       1
14184       1

[166961 rows x 13 columns]

In [61]:

rec=skill.copy()
rec['passer']=''
rec['passer_player_id']=''

#print(repl1)

qb=skill.copy()
qb['fantasy_player_name']=''
qb['receiver_player_id']=''
qb[['target']]=0

print(qb)

       game_date  week  season posteam defteam          id   passer_id  \
4     2014-09-07     1    2014     BUF     CHI  00-0030526  00-0030526
7     2014-09-07     1    2014     CHI     BUF  00-0024226  00-0024226
8     2014-09-07     1    2014     CHI     BUF  00-0024226  00-0024226
9     2014-09-07     1    2014     CHI     BUF  00-0024226  00-0024226
14    2014-09-07     1    2014     BUF     CHI  00-0030526  00-0030526
...          ...   ...     ...     ...     ...         ...         ...
14177 2022-10-09     5    2022     WAS     TEN  00-0032950  00-0032950
14179 2022-10-09     5    2022     WAS     TEN  00-0032950  00-0032950
14182 2022-10-09     5    2022     WAS     TEN  00-0032950  00-0032950
14183 2022-10-09     5    2022     WAS     TEN  00-0032950  00-0032950
14184 2022-10-09     5    2022     WAS     TEN  00-0032950  00-0032950

       fantasy_id receiver_player_id    passer fantasy_player_name  air_yards  \
4      00-0025516                     E.Manuel                           11.0
7      00-0024334                     J.Cutler                            4.0
8      00-0029137                     J.Cutler                           39.0
9      00-0026201                     J.Cutler                           12.0
14     00-0030431                     E.Manuel                            1.0
...           ...                ...       ...                 ...        ...
14177  00-0032602                      C.Wentz                            1.0
14179  00-0033282                      C.Wentz                            6.0
14182         NaN                      C.Wentz                            2.0
14183  00-0032602                      C.Wentz                            2.0
14184  00-0032602                      C.Wentz                            1.0

       target
4           0
7           0
8           0
9           0
14          0
...       ...
14177       0
14179       0
14182       0
14183       0
14184       0

[166961 rows x 13 columns]

In [62]:
# skill = results[['game_date','week','passer_player_id', 'rusher_player_id', 'receiver_player_id', 'passer', 'fantasy_player_name', 'rzPassAtt', 'rzComp', 'rzPassYards', 'rzPassTD','rzRushAtt','rzRushYards','rzRushTDs','rzTarget','rzReception','rzRecYards','rzReceivingTDs']]

#results = results[['rusher_player_id', 'rusher_player_name', 'touchdown', 'yardline_100', 'yards_gained', 'down', 'ydstogo']]

In [63]:

qb['player']=np.where(qb['fantasy_player_name']=='', qb['passer'], qb['fantasy_player_name'])
rec['player']=np.where(rec['fantasy_player_name']=='', rec['passer'], rec['fantasy_player_name'])

qb['pid']=qb['passer_id']
rec['pid']=rec['fantasy_id']



#print(total_skill)
total_skill_rec = pd.DataFrame(rec.groupby(['player','pid','game_date', 'week', 'season','posteam', 'defteam'], as_index=False).sum())
total_skill_qb = pd.DataFrame(qb.groupby(['player','pid','game_date', 'week', 'season','posteam', 'defteam'], as_index=False).sum())

print(total_skill_rec)
# total_skill_qb.to_csv('C:/Users/andre/OneDrive/ODDLs/trlAY2.csv')
# total_skill_rec.to_csv('C:/Users/andre/OneDrive/ODDLs/trlAY1.csv')
#ts=['total_skill_rec','total_skill_qb']
total_skill=total_skill_rec.append(total_skill_qb)
#total_skill = total_skill_rec.merge(total_skill_qb, on='pid')
total_wr = total_skill_rec.merge(ids, on='pid')
total_wr=total_wr.rename(columns={"posteam": "Team", "defteam": "Opponent"})

total_rz.to_csv('C:/Users/andre/OneDrive/ODDLs/trlAY4.csv')
print(total_wr)

total_qb = total_skill_qb.merge(ids, on='pid')
total_qb=total_qb.rename(columns={"posteam": "Team", "defteam": "Opponent"})

           player         pid  game_date  week  season posteam defteam  \
0      A.Abdullah  00-0032104 2015-09-13     1    2015     DET     LAC
1      A.Abdullah  00-0032104 2015-09-20     2    2015     DET     MIN
2      A.Abdullah  00-0032104 2015-09-27     3    2015     DET     DEN
3      A.Abdullah  00-0032104 2015-10-05     4    2015     DET     SEA
4      A.Abdullah  00-0032104 2015-10-11     5    2015     DET     ARI
...           ...         ...        ...   ...     ...     ...     ...
36154    Z.Zenner  00-0031665 2018-12-16    15    2018     DET     BUF
36155    Z.Zenner  00-0031665 2018-12-23    16    2018     DET     MIN
36156    Z.Zenner  00-0031665 2018-12-30    17    2018     DET      GB
36157    Z.Zenner  00-0031665 2019-10-20     7    2019      NO     CHI
36158    Z.Zenner  00-0031665 2019-10-27     8    2019     ARI      NO

       air_yards  target
0          -14.0       4
1            3.0       1
2            4.0       5
3          -11.0       5
4           -2.0       2
...          ...     ...
36154        1.0       4
36155        7.0       3
36156       -3.0       2
36157        7.0       2
36158       -2.0       1

[36159 rows x 9 columns]
           player         pid  game_date  week  season Team Opponent  \
0      A.Abdullah  00-0032104 2015-09-13     1    2015  DET      LAC
1      A.Abdullah  00-0032104 2015-09-20     2    2015  DET      MIN
2      A.Abdullah  00-0032104 2015-09-27     3    2015  DET      DEN
3      A.Abdullah  00-0032104 2015-10-05     4    2015  DET      SEA
4      A.Abdullah  00-0032104 2015-10-11     5    2015  DET      ARI
...           ...         ...        ...   ...     ...  ...      ...
24483    Z.Pascal  00-0033251 2022-09-19     2    2022  PHI      MIN
24484    Z.Pascal  00-0033251 2022-09-25     3    2022  PHI      WAS
24485    Z.Pascal  00-0033251 2022-10-02     4    2022  PHI      JAX
24486    Z.Wilson  00-0037013 2021-12-19    15    2021  NYJ      MIA
24487    Z.Wilson  00-0037013 2022-10-02     4    2022  NYJ      PIT

       air_yards  target  PlayerID            Name Position
0          -14.0       4     16815  Ameer Abdullah       RB
1            3.0       1     16815  Ameer Abdullah       RB
2            4.0       5     16815  Ameer Abdullah       RB
3          -11.0       5     16815  Ameer Abdullah       RB
4           -2.0       2     16815  Ameer Abdullah       RB
...          ...     ...       ...             ...      ...
24483        5.0       2     19172     Zach Pascal       WR
24484        6.0       3     19172     Zach Pascal       WR
24485       23.0       1     19172     Zach Pascal       WR
24486        8.0       1     22495     Zach Wilson       QB
24487        2.0       1     22495     Zach Wilson       QB

[24488 rows x 12 columns]

In [64]:
engine = sqlalchemy.create_engine('mysql+pymysql://dailyrotodb:QvCPetyGry^201F90!@dailyrotodb.cpvxpuf3txsh.us-east-1.rds.amazonaws.com:3306/dailyrotodb')

# insights = '''SELECT * FROM `NFL_RedZone2`'''
# # #insights.to_csv('C:/Users/andre/OneDrive/ODDLs/tableinsights.csv')


# insights = pd.read_sql(insights, engine)
# new_insights = pd.concat([insights, total_rz], ignore_index = True, verify_integrity=True)

# new_insights = new_insights.drop(['index', 'level_0'], axis=1, errors='ignore')

# print(new_insights)
# #new_insights.to_csv('C:/Users/andre/OneDrive/ODDLs/insights.csv')

total_wr.to_sql('NFL_AirYardsREC', engine, if_exists='replace')
total_qb.to_sql('NFL_AirYardsQB', engine, if_exists='replace')

4379

In [65]:
# total_wr.to_csv('C:/Users/andre/OneDrive/ODDLs/trlive.csv')
# total_qb.to_csv('C:/Users/andre/OneDrive/ODDLs/trlQB.csv')